.main {
}

.container {
  padding: 21px;
  margin-inline: auto;
  max-width: 1200px;
}

.mainContainer {
  max-width: 690px;
}

.imageContainer {
  max-width: 690px;
  max-height: 340px;
  overflow: hidden;
}

.imageContainer img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.imageCaption {
  padding: 5px 0;
  font-size: 13px;
  color: var(--secondary-text);
}

.createdAtContainer {
  font-size: 13px;
}

.contentContainer {
  padding: 21px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.content {
  display: flex;
  flex-direction: column;
}
.content h1 {
  font-size: 34px;
}
.content h2 {
  font-size: 24px;
}

.content a {
  color: var(--accent);
}
.content ul {
  list-style-position: inside;
}

.socialLinks {
  margin-top: 21px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  direction: ltr;
  font-weight: 500;
}
.socialLinks p {
  margin-left: 21px;
}

.socialLinks a {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 4px 12px;
}

.socialLinks a:hover {
  /* border: 1px solid var(--border); */
  background-color: var(--border);
  scale: 1.4;
  transition: ease-in-out 0.16s;
}

.moreNewsSection {
  border: 1px solid red;
  margin-top: 55px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    padding-top: 21px;
  }
  .container {
    padding: 0;
  }
  .imageContainer {
    max-width: 100%;
  }
  .imageCaption {
    padding: 5px 16px;
  }
  .mainContainer {
    max-width: 100%;
  }
  .contentContainer {
    padding: 16px;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
}
