.main {
}

.container {
  padding: 21px;
  margin-inline: auto;
  max-width: 1200px;
}

.imageContainer {
  overflow: hidden;
  max-width: 600px;
}

.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.imageCaption {
  padding: 5px 0;
}

.createdAtContainer {
  color: var(--secondary-text);
}

.contentContainer {
  padding: 21px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    padding-top: 21px;
  }
  .container {
    padding: 0;
  }
  .imageCaption {
    padding: 5px 16px;
  }
  .contentContainer {
    padding: 16px;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
}
