:root {
  --background: #fff;
  --foreground: #272937;
  --secondary-text: #616161;
  --accent: #1991ff;
  --accent-hover: #49a8ff;
  --info: #49a8ff;
  --success: #4fc62b;
  --danger: #ff3a30;
  --warning: #ffb649;
  --orange: #ff7043;

  /* special colors */
  --pink: #ff58a0;
  --pink-light: #fda9cd;
  --green-light: #e6fead;

  --border: #f2f2f2;

  --nav-bg: #102039;
}

/* light */

/* dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0 auto;
  padding: 0;
  direction: rtl;
}

body {
  font-family: Arial, Helvetica, "Noto Kufi Arabic", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.children {
  min-height: 90vh;
}

h1 {
  font-family: Almarai;
  font-size: 26px;
  font-weight: 400;
  /* font-family: var(--font-almarai); */
}

h2 {
  color: var(--secondary-text);
  font-size: 16px;
}

button {
  background-color: var(--accent);
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
}

img {
  /* overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
