.main {
  border: 1px solid var(--border);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  max-width: 690px;
  overflow: hidden;
  margin-bottom: 21px;
  position: relative;
}

.imageContainer {
  border: 16px solid #fff;
  border-radius: 18px;
  overflow: hidden;
}

.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: auto;
  filter: brightness(0.8);
  border: 1px solid var(--border);
  border-radius: 18px;
}

.titleContainer {
  min-width: 100%;
  padding: 16px 21px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: flex-start;
  background-color: #fff;
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* backdrop-filter: blur(18px); */
  border-top: 1px solid #ddd;
}

.badge {
  border-radius: 16px;
  padding: 8px 16px;
  width: fit-content;
  color: #fff;
  background-color: var(--accent);
  font-size: 12px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .imageContainer {
    border-radius: 0;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
  .main {
    border-radius: 0;
    box-shadow: 0px 0px 0px;
    border: none;
    min-height: 400px;
  }
  .imageContainer {
    border: none;
    order: 2;
    min-height: 328px;
  }
  .imageContainer img {
    border-radius: 0;
    border: none;
    min-width: 100%;
    height: auto;
    min-height: 328px;
  }

  .titleContainer {
    border: none;
    order: 1;
    position: unset;
    padding: 16px 0;
    backdrop-filter: unset;
  }

  .badge {
    order: 1;
  }

  .titleContainer h1 {
    order: 2;
  }
}
