.main {
  border: 1px solid var(--border);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21);
  border-radius: 13px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 440px;
  max-width: 793px;
  overflow: hidden;
  margin-bottom: 21px;
}

.imageContainer {
  border: 1px solid var(--border);
  overflow: hidden;
  border-radius: 13px;
  display: flex;
}

.imageContainer img {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: flex-start;
  padding: 16px 21px;
}

.badge {
  color: var(--secondary-text);
  background-color: #f2f2f2;
  border-radius: 24px;
  padding: 5px 16px;
  width: fit-content;
}
