.main {
  border: 1px solid var(--border);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  max-width: 690px;
  overflow: hidden;
  margin-bottom: 21px;
  position: relative;
}

.imageContainer {
  border: 16px solid #fff;
  overflow: hidden;
}

.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  border-radius: 18px;
}

.titleContainer {
  min-width: 100%;
  padding: 16px 21px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(18px);
  border-top: 1px solid #ddd;
}

.badge {
  color: var(--secondary-text);
  background-color: #f2f2f2;
  border-radius: 24px;
  padding: 5px 16px;
  width: fit-content;
}
