.navigation {
  background-color: var(--nav-bg);
  color: #fff;
  min-height: 200px;
  max-height: 200px;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navTop,
.navBottom {
  flex-grow: 1;
  max-height: 100px;
  display: flex;
  padding: 0px 55px;
  align-items: center;
  justify-content: space-between;
}

/* logo + social media */
.navTop {
}

.logo {
  height: auto;
  width: 100px;
}

.logo img {
  width: 100%;
  height: auto;
}

.socialLinks {
  display: flex;
  gap: 13px;
}

.navTop a {
  max-height: 50%;
}

/* toggler + links */
.navBottom {
  /* border: 1px solid #000; */
  gap: 34px;
}

.navBottomToggler {
  border: 1px solid red;
}

.navBottomLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-grow: 1;
  list-style: none;
  padding: 21px;
}

.navBottomLinks li {
}

.navBottomLinks a {
  padding: 13px 21px;
  border-radius: 13px;
  border: solid #000 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.navBottom a:hover {
  transition: all ease-in 0.2s;
  background-color: var(--orange);
}
