.navigation {
  background-color: var(--nav-bg);
  color: #fff;
  min-height: 200px;
}

.navContainer {
  max-width: 1200px;
  margin-inline: auto;
}

.navTop,
.navBottom {
  flex-grow: 1;
  min-height: 100px;
  display: flex;
  padding: 0px 55px;
  align-items: center;
  justify-content: space-between;
}

/* Top nav */
/* logo + social media */
.logo {
  height: auto;
  width: 100px;
}

.logo img {
  width: 100%;
  height: auto;
}

.socialLinks {
  display: flex;
  gap: 25px;
}

.navTop a {
  max-height: 50%;
}

/* Bottom nav */
/* toggler + links */
.navBottom {
  /* border: 1px solid #000; */
  gap: 34px;
}

.navBottomToggler button {
  border: 1px solid #000;
  background-color: #0d1828;
  border-radius: 55px;
  height: 42px;
  width: 42px;
}

.navBottomToggler button img {
  height: 24px;
  width: auto;
}

.navBottomToggler button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navBottomLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  list-style: none;
  padding: 21px;
}

.navBottomLinks a {
  min-width: 100%;
  padding: 13px 21px;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.2);
}

.navBottom a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
