.navigation {
  background-color: var(--nav-bg);
  color: #fff;
  min-height: 160px;
}

.navContainer {
  max-width: 1200px;
  margin-inline: auto;
}

.navTop,
.navBottom {
  flex-grow: 1;
  min-height: 80px;
  display: flex;
  padding: 0px 55px;
  align-items: center;
  justify-content: space-between;
}

/* Top nav */
/* logo + social media */
.logo {
  height: auto;
  width: 100px;
}

.logo img {
  width: 100%;
  height: auto;
}

.socialLinks {
  display: flex;
  gap: 25px;
}

.navTop a {
  max-height: 50%;
}

/* Bottom nav */
/* toggler + links */
.navBottom {
  /* border: 1px solid red; */
  align-items: flex-start;
  gap: 34px;
}

.navBottomToggler button {
  border: 1px solid #000;
  background-color: #0d1828;
  border-radius: 55px;
  height: 42px;
  width: 42px;
}

.navBottomToggler button img {
  height: 24px;
  width: auto;
}

.navBottomLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  max-width: fit-content;
  height: auto;
  overflow: hidden;
  gap: 5px;
  margin-inline: auto;
  /* box-shadow: 0 0 8px #0d1828; */
  border: 1px solid #0d1828;
  padding: 8px 12px;
  border-radius: 24px;
  /* background-color: #222d3f; */
}

.navBottomLinks a {
  padding: 13px 21px;
  background-color: #0e1c34;
  border: 1px solid #000;
  border-radius: 24px;
}

.navBottom a:hover,
.navBottomToggler button:hover {
  background-color: var(--orange);
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .navigation {
    display: none;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
}
