:root {
  --background: #fff;
  --foreground: #272937;
  --foreground-hover: #272937e1;
  --secondary-text: #616161;
  --accent: #1991ff;
  --accent-light: #e8f4ff;
  --accent-hover: #49a8ff;
  --info: #49a8ff;
  --success: #4fc62b;
  --danger: #ff3a30;
  --warning: #ffb649;
  --orange: #ff7043;

  /* special colors */
  --pink: #ff58a0;
  --pink-light: #fda9cd;
  --green-light: #e6fead;

  --border: #f2f2f2;
  --border-dark: #ccc;

  --nav-bg: #102039;
  --fb-color: #f2f4f7;
  --gray-bg: #f4f4f5;
}

/*  */
/*  */
/* Media Queries [desktop, small desktop, tablet, phone]*/
/*  */
/*  */
.navContainer {
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.views {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  color: red;
  z-index: 1;
}
.viewDesktop {
  display: none;
  @media (min-width: 1060px) {
    display: flex;
  }
}

/* betweem 960 -> 1060 */
.viewSmallDesktop {
  display: none;
  @media screen and (max-width: 1059px) and (min-width: 960px) {
    display: flex;
  }
}

.viewTablet {
  display: none;
  @media screen and (max-width: 959px) and (min-width: 768px) {
    display: flex;
  }
}

.viewPhone {
  display: none;
  @media (max-width: 767px) {
    display: flex;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
html,
body {
  margin: 0 auto;
  padding: 0;
  direction: rtl;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif, Arial, Helvetica;
  font-size: 16px;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.children {
  min-height: 90vh;
}

pre {
  background-color: #424556;
  color: #f2f2f2;
  padding: 12px;
  border-radius: 12px;
  font-size: 12px;
  direction: ltr;
}

blockquote {
  border-right: 2px solid #ff7f588e;
  padding: 12px;
}

h1,
h2,
h3,
h4 {
  font-family: Almarai;
}

h1 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
}

h2 {
  font-size: 18px;
  color: var(--secondary-text);
}

h3 {
  font-size: 16px;
}

button {
  background-color: var(--accent);
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
}

img {
  /* overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: Arial, Helvetica, "Noto Kufi Arabic", sans-serif;
}

/*  */
/*  */
/* global classes */
.badge {
  color: var(--secondary-text);
  background-color: #f2f2f2;
  border-radius: 24px;
  padding: 5px 16px;
  width: fit-content;
  color: var(--accent);
  border: 1px dotted var(--accent);
  border-radius: 5px;
  background-color: #fff;
}

/*  */
/*  */
/*  loader  */
/*  */
/*  */
.loadingPageContainer {
  max-width: 1200px;
  margin-inline: auto;
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingPageText {
  margin-top: 24px;
  border-top: 1px solid var(--border);
  border-radius: 5px;
  padding: 13px;
  font-weight: 500;
  font-size: 18px;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ddd 50px, transparent 0), linear-gradient(#ddd 50px, transparent 0), linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0), linear-gradient(#ddd 50px, transparent 0);
  background-size: 8px 100%;
  background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  animation: pillerPushUp 4s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: var(--orange);
  border-radius: 50%;
  animation: ballStepUp 4s linear infinite;
}

@keyframes pillerPushUp {
  0%,
  40%,
  100% {
    background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  }
  50%,
  90% {
    background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px;
  }
}

@keyframes ballStepUp {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
  .navContainer {
    display: none;
  }
}
/* <=Tablet */
@media screen and (max-width: 959px) {
}
/* <=phone */
@media screen and (max-width: 767px) {
  .navContainer {
    padding: 20px;
    padding-bottom: 0;
  }
}
