/* home page styles */
.page {
  padding: 21px 0;
  margin-inline: auto;
  max-width: 1200px;
}

.container {
  display: flex;
  gap: 30px;
}

/*  */
.main {
  /* border: 1px solid; */
  flex-grow: 1;
}

.articlesSection {
}

.articlesSection h1 {
  margin-bottom: 8px;
}

/*  */
.featuredSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 13px;
}

.x {
  min-height: 100px;
  background-color: antiquewhite;
}
