/* home page styles */
.page {
  padding: 21px 0;
  margin-inline: auto;
  max-width: 1200px;
}

.container {
  display: flex;
  gap: 30px;
}

/*  */
.main {
  /* border: 1px solid; */
  flex-grow: 1;
}

.articlesSection {
  /* border: 1px solid; */
  padding: 21px 0;
}

.sectioTitle {
  background-color: var(--fb-color);
  padding: 12px;
  border-radius: 12px;
  max-width: 690px;
  margin-bottom: 8px;
}

.sectioTitle h1 {
  color: var(--secondary);
  font-weight: 600;
}

/*  */
.featuredSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 13px;
}

.x {
  min-height: 100px;
  background-color: antiquewhite;
}
