/* home page styles */
.page {
  padding: 21px 0;
  margin-inline: auto;
  max-width: 1200px;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 8px;
}

/*  */
.main {
  flex-grow: 1;
}

.articlesSection {
  padding: 21px 0;
  max-width: 700px;
}

/*  */
/*  */
/*  */
/* switcher */

/*  */
/*  */
/*  */
/* Featured articles column */
.featuredSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: fit-content;
  background-color: var(--fb);
  border-right: 1px solid var(--border);
  overflow: hidden;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
  .switcher {
    display: none;
  }
}
@media screen and (max-width: 1059px) and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .featuredSection {
    display: none;
  }
  .container {
    display: none;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
  .navContainer {
    padding: 20px;
    padding-bottom: 0;
  }
}
