.nav {
  max-width: 340px;
  min-height: 55px;
  color: #000;
  background-color: rgba(237, 237, 237, 0.72);
  margin-inline: auto;
  padding: 8px 34px 8px 12px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(18);
}

.navLogoImage,
.navToggleImage {
  height: auto;
  max-width: 50px;
}

.navLogoImage {
  width: 100%;
  max-width: 70px;
}
