.nav {
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  min-height: 55px;
  color: #000;
  background-color: rgba(237, 237, 237, 70%);
  padding: 4px 12px 4px 21px;
  border-radius: 28px;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 8;
}

.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTop button {
  background-color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.navLogoImage,
.navToggleImage {
  height: auto;
  max-width: 50px;
}

.navLogoImage {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.drawerLinks {
  flex-direction: column;
}

.drawerLinks li {
  display: block;
  width: 100%;
}
.drawerLinks li a {
  display: block;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
}

.kid {
  padding: 21px 12px 21px 21px;
  list-style: none;
  /* border: 1px solid; */
}

/* at close prevent pointer */
.pointerNone {
  pointer-events: none;
}
