.nav {
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  min-height: 50px;
  color: #000;
  background-color: rgba(237, 237, 237, 70%);
  padding: 5px 12px 5px 21px;
  border-radius: 28px;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 10px;
}

.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.navTop button {
  background-color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 34px;
  height: 100%;
}

.menuButtonBurger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButtonBurger::after,
.menuButtonBurger::before {
  content: "";
  width: 18px;
  height: 2.5px;
  border-radius: 5px;
  background-color: var(--foreground);
  transition: all 0.21s ease-in-out;
  position: absolute;
}

.menuButtonBurger::before {
  transform: translateY(-4px);
}
.menuButtonBurger::after {
  transform: translateY(4px);
}

.moveBurgers .menuButtonBurger::before {
  transform: rotate(45deg);
}

.moveBurgers .menuButtonBurger::after {
  transform: rotate(-45deg);
}

.homePageLink {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLogoImage,
.navToggleImage {
  /* border: 1px solid red; */
  height: 100%;
  width: auto;
}

.navLogoImage {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.drawerLinks {
  flex-direction: column;
}

.drawerLinks li {
  display: block;
  width: 100%;
}
.drawerLinks li a {
  display: block;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
}

.kid {
  padding: 21px 12px 21px 21px;
  list-style: none;
  /* border: 1px solid; */
}

/* at close prevent pointer */
.pointerNone {
  pointer-events: none;
}
