.main {
  border-top: 1px dotted var(--border-dark);
  display: flex;
  min-height: 140px;
  max-width: 477px;
  overflow: hidden;
}

.noBorderTop {
  border-top: none;
}

.main h1 {
  font-weight: 400;
  font-size: 16px;
}

.main:hover h1 {
  text-decoration: underline;
  color: var(--orange);
}

.imageContainer {
  padding: 16px 0;
  overflow: hidden;
  max-width: 150px;
  height: 96px;
  flex-shrink: 0;
}

.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: auto;
  filter: brightness(0.8);
  border: 1px solid var(--border);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: flex-start;
  padding: 16px 21px;
  flex-grow: 1;
}

.titleContainerBadges {
  display: flex;
  align-items: center;
  gap: 13px;
}

.titleContainerBadges img {
  width: auto;
  max-height: 18px;
}

.badge {
  color: var(--secondary-text);
  background-color: #f2f2f2;
  border-radius: 24px;
  padding: 5px 16px;
  width: fit-content;
}
