.footer {
  color: #fff;
  padding: 55px 24px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: linear-gradient(to right, rgb(0, 98, 255) 12%, rgb(255, 45, 154) 47%, rgb(255, 140, 0) 100%) left bottom #102039 no-repeat;
  background-size: 100% 2px;
}

.footerLinks {
  display: flex;
  gap: 24px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footerLinks a:hover {
  color: var(--orange);
  text-decoration: underline;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerLogo img {
  width: 34px;
  height: auto;
}

.footerLogoSlug {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
