.header {
  border-top: 1px solid #0000004d;
  background-color: var(--nav-bg);
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 16px;
}

@media screen and (max-width: 959px) {
  .header {
    text-align: center;
    padding: 21px 16px;
  }
}
