.articlesList {
  margin-bottom: 21px;
}

.readMoreBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
}
.readMoreBtn {
  display: block;
  max-width: fit-content;
  background-color: var(--foreground);
  color: #fff;
  font-weight: 600;
  padding: 5px 21px;
  border-radius: 34px;
  border: 1px solid;
  border: 1px solid #000;
}
.readMoreBtn:hover {
  background-color: var(--foreground-hover);
}

.sectioTitle {
  padding-bottom: 21px;
  border-radius: 12px;
  max-width: 690px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.sectioTitle h1 {
  color: var(--secondary);
  font-weight: 600;
  font-size: 18px;
}

/* <=Tablet */
@media screen and (max-width: 959px) {
  .readMoreBtnContainer {
    padding-bottom: 34px;
    text-align: center;
    padding: 12px;
  }
}

@media screen and (max-width: 767px) {
  .readMoreBtn {
    min-width: 100%;
  }
}
